#bg {
        position:fixed;
        top:-50%;
        left:-50%;
        width:200%;
        height:200%;
}
#bg img {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
        min-width:50%;
        min-height:50%;
}

#page-wrap { position: relative; z-index: 2; width: 900px; margin: 50px auto; padding: 20px; -moz-box-shadow: 0 0 20px white; -webkit-box-shadow: 0 0 20px white; box-shadow: 0 0 20px white; }
		p { font: 15px/2 Noto Sans CJK SC Light, Yu Gothic UI, Meiryo, ƒqƒ‰ƒMƒmŠpƒS; margin: 0 0 30px 0; text-indent: 40px; }